<div class=" container-fluid sticky-top bg-icc-top">
  <div class="row">
      <div class="col-lg-6 col-10 offset-lg-0 offset-1">
  <h4 class="texte-logo text-bold text-maj">
    <a href="/">ICC libreville</a></h4>
  </div>
  <div class="col-lg-6 col-12">
    <ul class="nav">
      <li class="nav-item active">
        <%=link_to "Créer un creneau", new_creneau_path, class:"nav-link" %>
      </li>
      <% if membre_signed_in?%>
      <li class="nav-item">
        <a class="nav-link" href="#">Historique</a>
      </li>
      <li class="nav-item">
        <%=link_to "Modifier mes informations", edit_membre_registration_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Déconnexion", destroy_membre_session_path, class:"nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%=link_to "Connexion", new_membre_session_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%=link_to "Inscription", new_membre_registration_path, class:"nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>