<%=render 'menus/sticky' %>
<div class="container-fluid">
        <div class="row">
    <div class="col-lg-8 offset-lg-2 col-12 text-white m-top">
      <h1 class="text-center mb-2">Créez votre créneau de prière</h1>
<%= form_with(model: creneau, local: true) do |form| %>
<div class="row">
  <% if creneau.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(creneau.errors.count, "error") %> prohibited this creneau from being saved:</h2>

      <ul>
      <% creneau.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group col-lg-6 offset-lg-3 col-12">
    <%= form.label :heure_de_début %>
    <%= form.text_field :heure_debut, :value => Time.now.to_s , class:"form-control", readonly: true %>
  </div>

    <div class="form-group col-lg-6 offset-lg-3 col-12">
    <%= form.label :heure_de_fin %>
    <%= form.text_field :heure_fin, :value => Time.now + 1.hours,  class:"form-control", readonly: true  %>
  </div>

  <div class="form-group col-lg-6 offset-lg-3 col-12 text-center">
    <%= form.submit "Confirmer et commencer à prier", class:"btn btn-outline-light" %>
  </div>
  </div>
<% end %>
</div>
</div>
</div>