<p id="notice"><%= notice %></p>

<h1>Creneaus</h1>
<%= current_membre.creneaus.count %>
<ul>
  <% current_membre.badges.each do |badge| %>
    <li class="text-danger"><%= badge.name %>lll</li>
  <% end %>
</ul>
<table>
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    <% @creneaus.each do |creneau| %>
      <tr>
        <td><%= creneau.titre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Creneau', new_creneau_path %>
