<p id="notice"><%= notice %></p>

<h1>Creneaus</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creneaus.each do |creneau| %>
      <tr>
        <td><%= creneau.titre %></td>
        <td><%= link_to 'Show', creneau %></td>
        <td><%= link_to 'Edit', edit_creneau_path(creneau) %></td>
        <td><%= link_to 'Destroy', creneau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creneau', new_creneau_path %>
