<%=render 'menus/sticky' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-12">
      <p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5>Salut <%= current_membre.nom %> ! </h5>
        <h1>Tu as déjà <%= current_membre.creneaus.count %> créneaux</h1>
        <h5 class="card-title">Merci pour ton engagement</h5>
        <p class="card-text">
          N'hésite pas, fais-en encore plus !!!
        </p>
        <table>
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    <% @creneaus.each do |creneau| %>
      <tr>
        <td><%=creneau.heure_debut.to_s(:time)  %></td>
        <td><%=creneau.heure_fin.to_s(:time)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>


    </div>
  </div>
</div>