<% set_meta_tags title: 'Créneaux de prières',
                 description: 'Page des créneaux de prières.',
                 keywords: 'ICC, Créneaux de prières, icc libreville' %>
<%=render 'menus/sticky' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-12">
      <p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5>Salut <%= current_membre.nom %> ! </h5>
        <h1>Tu as déjà <%= current_membre.creneaus.count %> créneaux</h1>
        <h5 class="card-title">Merci pour ton engagement</h5>
        <p class="card-text">
          N'hésite pas, fais-en encore plus !!!
        </p>
      </div>
    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jour</th>
      <th scope="col">créneaux</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <% @crens.each do |creneau| %>
         <td><%=creneau.created_at.strftime('%d - %m - %Y')%></td>
         <% end %>
      <td>
          <%=@compte%>
        </td>

    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>


    </div>
  </div>
</div>
