<%=render 'menus/sticky' %>
<div class="container-fluid">
        <div class="row">
    <div class="col-lg-6 offset-lg-3 col-12 bloc-intro-2-form text-white">
      <h2 class="text-center">Modifiez vos informations</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
    <div class="form-group col-lg-6">
    <%= f.label :nom_complet %><br />
    <%= f.text_field :nom, class:"form-control" %>
  </div>

  <div class="form-group col-lg-6">
    <%= f.label :telephone %><br />
    <%= f.telephone_field :telephone, class:"form-control" %>
  </div>

  <div class="form-group col-lg-6">
    <%= f.label :sexe %><br />
    <%= f.collection_select :sexe_id, Sexe.all, :id, :libelle, {prompt:"Modifiez votre sexe"}, class:"form-control"%>
  </div>

   <div class="form-group col-lg-6">
    <%= f.label :age %><br />
    <%= f.collection_select :age_id, Age.all, :id, :libelle, {prompt:"Modifiez votre âge"}, class:"form-control"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<div class="form-group col-lg-12">
  <a class="btn btn-primary btn-block" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Apuyyez ici si vous voulez changer votre mot de passe</a>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="row">
        <div class="form-group col-lg-12">
    <%= f.label :mot_de_passe_actuel %>
    <%= f.password_field :password,class:"form-control"%>
  </div>

  <div class="form-group col-lg-12">
    <%= f.label :confirmer_mot_de_passe %>
    <%= f.password_field :password_confirmation,class:"form-control" %>
  </div>
      </div>
        
    </div>
  </div>
</div>


  <div class="form-group col-lg-12">
    <%= f.label :mot_de_passe_actuel %> <i>(remplissez pour valider vos changements)</i><br />
    <%= f.password_field :current_password, class:"form-control" %>
  </div>

  <div class="form-group col-lg-6">
    <%= f.submit "Valider les changements", class:"btn btn-outline-light"  %>
  </div>
  <div class="form-group col-lg-6">

<p>Pas content? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sû?" }, method: :delete, class:"btn btn-danger" %></p>
</div>
  </div>
<% end %>

  <div class="form-group col-lg-6 offset-lg-3 text-center">
<%= link_to "Revenir à la page précédente", :back %>
</div>
</div>
  </div>
    
</div>