<%=render 'menus/sticky' %>
<div class="container-fluid">
        <div class="row">
    <div class="col-lg-6 offset-lg-3 col-12 bloc-intro-2-form text-white">
      <h2 class="text-center">Prêt à vous inscrire ?</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="form-group col-lg-10 offset-lg-1 col-12">
    <label for="">Nom et Prénom</label>
    <%= f.text_field :nom, required: true, class:"form-control" %>
  </div>
   
  <div class="form-group col-lg-5 offset-lg-1 col-12">
    <label for="">Numéro de téléphone</label>
    <%= f.telephone_field :telephone, required: true, class:"form-control" %>
  </div>

  <div class="form-group col-lg-5 col-12">
    <label for="">Adresse email</label>
    <%= f.email_field :email, required: true, class:"form-control" %>
  </div>

   <div class="form-group col-lg-5 offset-lg-1 col-12">
    <label for="">Quel est votre sexe</label>
    <%= f.collection_select :sexe_id, Sexe.all, :id, :libelle, {prompt:"Choisissez votre sexe"}, required: true, class:"form-control text-cap"%>
  </div>


   <div class="form-group col-lg-5 col-12">
    <label for="">Tranche d'âge</label>
    <%= f.collection_select :age_id, Age.all, :id, :libelle, {prompt:"Choisissez votre âge"}, required: true, class:"form-control"%>
  </div>


   <div class="form-group col-lg-10 offset-lg-1 col-12">
    <label for="">Êtes-vous membre d'ICC?</label>
    <%= f.collection_select :statut_id, Statut.all, :id, :libelle, {prompt:"Sélectionnez la bonne réponse"}, class:"form-control text-cap", id: :one%>
  </div>


   <div class="form-group col-lg-10 offset-lg-1 col-12">
    <label for="">Êtes-vous un Serviteur Travaillant Activement pour le Royaume?</label>
    <%= f.collection_select :star_id, Star.all, :id, :libelle, {prompt:"Sélectionnez la bonne réponse"}, required: true, class:"form-control text-cap", id: :two%>
  </div>





  <div class="form-group col-lg-10 offset-lg-1 col-12">
    <label for="">Mot de passe</label>
    <% if @minimum_password_length %>
    <small>(<%= @minimum_password_length %> caractères minimum)</small>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true,class:"form-control text-cap" %>
  </div>



  <div class="form-group col-lg-8 offset-lg-1 col-12">
    <%= f.submit "Créer votre compte", class:"btn btn-outline-light" %>
  </div>
   <div class="form-group col-lg-8 offset-lg-1 col-12">
    <%= render "membres/shared/links" %>
  </div>
    </div>
 
<% end %>


</div>
  </div>
    
</div>


<script>
document.getElementById("one").onchange = function () {
  document.getElementById("two").setAttribute("disabled", "disabled");
  if (this.value == '1')
    document.getElementById("two").removeAttribute("disabled");
};
</script>