<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @photo.titre %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @photo.slug %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
