  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <h1><%= current_membre.email %></h1>
<h1><%= current_membre.sign_in_count %></h1>
<h1><%= current_membre.current_sign_in_at %></h1>
<h1><%= current_membre.last_sign_in_at %></h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

            <td><%= link_to 'Show', creneau %></td>
        <td><%= link_to 'Edit', edit_creneau_path(creneau) %></td>
        <td><%= link_to 'Destroy', creneau, method: :delete, data: { confirm: 'Are you sure?' } %></td>

              <li class="nav-item">
        <%=link_to "Inscription", new_membre_registration_path, class:"nav-link" %>
      </li>

      <%= link_to 'Retour', creneaus_path %>

      <%= link_to 'Show', @creneau %> |
<%= link_to 'Back', creneaus_path %>

<table>
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    <% @creneaus.each do |creneau| %>
      <tr>
        <td><%=# creneau.heure_debut.to_s(:time)  %></td>
        <td><%=# creneau.heure_debut.to_s(:time)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

   <div class="form-group col-lg-6 offset-lg-3 col-12">
    <%= form.label :heure_de_début %>
    <%= form.text_field :hd, :value => Time.now.utc.strftime("%H:%M") , class:"form-control", readonly: true %>
  </div>

  PHONE
ICC : OUI / NON | Etes vous membre d'Impact Centre Chrétien?
STAR : OUI / NON | Etes vous un Serviteur Travaillant Activement pour le royaume?
AGE : 0-25 / 26 + | Quelle âge avez vous ? 
SEXE : H / F | Vous êtes Un homme / Une femme
STAR
Homme d'impact
Femme d'impact
Jeune d'impact
517789538883099
ID PAGE : 477703499047119
- Enregistrement a finaliser
- Liste des créneaux (tableau)
- Partage d'invitation
- Nom de domaine

  <div class="row row-cols-1 row-cols-md-3">
  <% @creneaus.each do |creneau| %>
  <div class="col mb-4">
    <div class="card h-100">
      <figure class="snip1195">
  <div class="image">
    <img src="https://res.cloudinary.com/aseed/image/upload/v1584982435/icc/logo_o0dar0.png" alt="sq-sample14"/>
  </div>
  <figcaption>
    <div class="price">
      <%=creneau.heure_debut.to_s(:time)  %> <s><%=creneau.heure_fin.to_s(:time)%></s>
    </div>
</figure>
    </div>
  </div>
  <% end %>
</div>

<%=creneau.heure_debut.to_s(:time)  %> <s><%=creneau.heure_fin.to_s(:time)%></s>

<select id="one">
  <option value="moto">moto</option>
  <option value="none">none</option>
</select>

<select disabled id="two">
  <option value="volvo">Volvo</option>
  <option value="audi">Audi</option>
</select>

<script>
document.getElementById("one").onchange = function () {
  document.getElementById("two").setAttribute("disabled", "disabled");
  if (this.value == 'moto')
    document.getElementById("two").removeAttribute("disabled");
};
</script>

<div class="form-group col-lg-5 col-12">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control" %>
  </div>

  <p id="notice"><%= notice %></p>