  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <h1><%= current_membre.email %></h1>
<h1><%= current_membre.sign_in_count %></h1>
<h1><%= current_membre.current_sign_in_at %></h1>
<h1><%= current_membre.last_sign_in_at %></h1>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

            <td><%= link_to 'Show', creneau %></td>
        <td><%= link_to 'Edit', edit_creneau_path(creneau) %></td>
        <td><%= link_to 'Destroy', creneau, method: :delete, data: { confirm: 'Are you sure?' } %></td>

              <li class="nav-item">
        <%=link_to "Inscription", new_membre_registration_path, class:"nav-link" %>
      </li>

      <%= link_to 'Retour', creneaus_path %>

      <%= link_to 'Show', @creneau %> |
<%= link_to 'Back', creneaus_path %>

<table>
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    <% @creneaus.each do |creneau| %>
      <tr>
        <td><%=# creneau.heure_debut.to_s(:time)  %></td>
        <td><%=# creneau.heure_debut.to_s(:time)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

   <div class="form-group col-lg-6 offset-lg-3 col-12">
    <%= form.label :heure_de_début %>
    <%= form.text_field :hd, :value => Time.now.utc.strftime("%H:%M") , class:"form-control", readonly: true %>
  </div>