<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'ICC | Église locale de Libreville' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="impact centre chétien, impact centre chétien libreville, icc, icc libreville, alexandre yebe, pasteur alexandre yebe">
        <meta name="description" content="Une église où l'amour de Dieu transforme des gens ordinaires en champions.">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Impact Centre Chrétien">
        <meta property="og:locale" content="fr">
        <meta property="og:url" content="https://icclibreville.herokuapp.com/">
        <meta property="og:image" content="https://res.cloudinary.com/aseed/image/upload/v1584982435/icc/cover-fb_afzuqu.png">
        <meta property="og:title" content="ICC | Église locale de Libreville">
        <meta property="og:description" content="Une église où l'amour de Dieu transforme des gens ordinaires en champions.">
        <meta property="fb:page_id" content="2219803821441067">
        <!--twitter card-->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="ICC | Église locale de Libreville">
        <meta name="twitter:description" content="Une église où l'amour de Dieu transforme des gens ordinaires en champions.">
        <meta name="twitter:card" content="summary">
      <meta name="twitter:url" content="https://icclibreville.herokuapp.com/">
      <meta name="twitter:image" content="https://res.cloudinary.com/aseed/image/upload/v1584982435/icc/cover-fb_afzuqu.png">
        <meta name="copyright" content="© ICCLIBREVILLE.HEROKUAPP.COM" />
        <link rel="canonical" href="https://icclibreville.herokuapp.com/">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="https://res.cloudinary.com/aseed/image/upload/v1584982435/icc/logo_o0dar0.png" type="image/png" sizes="16x16">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
   
  </body>
</html>
